{% extends 'accounts/base.html' %}
{% load static %}
{% block title %} About Us {% endblock %}
{% block content %}


<div class="about-wrapper p-5 text-justify">

    <h2>About Us</h2>

    <p>
        Invest In It is a content and information platform for stocks, ETFs and other investment instruments. Invest In It is a
        stock analytical software, which provides stock suggestions with flexible time frames and diverse market types, on your
        finger tips. Providing simple yet appealing user experience, where the user has freedom to choose time period according
        to his convenience (intraday or delivery), and on what market.

        <br><br>

        We at Invest In It try to provide you analysis made using stratergy with an accuray of more than 80%, combined with the
        edge cutting machine learning technology to ease you in making excellent returns in the stock market.
    </p>

    <h2>Our Team</h2>
    <div class="team-wrapper d-md-flex align-content-center justify-content-center">
        <div class="card-wrapper">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/team/harsh.png' %}" alt="Card image harsh">
                <div class="card-body">
                    <h5> <a href="#" target="__blank">Harsh Sanklecha<i class="fas fa-external-link-alt"></i></a></h5>
                    <p> Lead Development</p>
                </div>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/team/aashray.png' %}" alt="Card image aashray">
                <div class="card-body">
                    <h5> <a href="#" target="__blank">Aashray Raj Mathur<i class="fas fa-external-link-alt"></i></a></h5>
                    <p>Product Designing</p>
                </div>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/team/harsh.png' %}" alt="Card image vansh">
                <div class="card-body">
                    <h5> <a href="#" target="__blank">Vansh Jain<i class="fas fa-external-link-alt"></i></a></h5>
                    <p>Testing & Support</p>
                </div>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/team/aashray.png' %}" alt="Card image ajith">
                <div class="card-body">
                    <h5> <a href="#" target="__blank">Ajith Bhandari<i class="fas fa-external-link-alt"></i></a></h5>
                    <p>Testing & Support</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}