{% extends 'accounts/base.html' %}
{% load static %}
{% block title %} About Us {% endblock %}
{% block content %}


<div class="about-wrapper p-5 text-justify">

    <h2>About Us</h2>

    <p>
        Invest In It is a content and information platform for stocks, ETFs and other investment instruments. Invest In It is a
        stock analytical software, which provides stock suggestions with flexible time frames and diverse market types, on your
        finger tips. Providing simple yet appealing user experience, where the user has freedom to choose time period according
        to his convenience (intraday or delivery), and on what market.

        <br><br>

        We at Invest In It try to provide you analysis made using stratergy with an accuray of more than 80%, combined with the
        edge cutting machine learning technology to ease you in making excellent returns in the stock market.
    </p>
</div>

{% endblock %}