{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Disclosure {% endblock %}
{% block content %}

<div class="terms-wrapper p-5">

    <h2>Operations</h2>
    
    <div class="terms-inner">
        <ol>
            <li>
                Investinit shall not be liable for any misrepresentation, falsification, and deception or for any lack of
                availability of services through the website, even if the same are advertised for, on the website.
            </li>
            <li>
                Investinit confirms that no employee of ours can engage in (directly or indirectly) any trade or business in capital
                market.We do not allow any of our employees to participate in trading business. We also restrict our people from getting
                into any related business or otherwise for ensuring unbiased services to the clients of Investinit.
            </li>
            <li>
                Investinit categorically states that different types of investments involve varying degrees of risk, and there can be no
                assurance that the future performance of any specific investment or investment strategy (including those undertaken or
                recommended by the Investinit), will be profitable or equal any historical performance level(s).
            </li>
            <li>
                Investinit is not liable for use of investment advice through channels such as Advisory Mandi, Investing etc. where
                advice is published without any consideration from the investors. Investinit reteriates that, while investing, your
                capital is always at risk. Please invest, responsibly and before deciding to trade on any recommendations, please
                undertake risk profile assessment on our website.
            </li>
            <li>
                The service offered to any customer depends on his/her Risk Profile Management.
            </li>
            <li>
                The website contains features of the services that are currently being offered by Investinit and those intended to be
                offered in the future. Investinit intends to launch the services, confirming with the features listed on the website in
                total, however, due to business need and regulatory requirement the final launch may contain variables. Notwithstanding
                anything contained in the website regarding the services, Investinit may decide to postpone the offering of the services
                or may even decide to withdraw the offering or even a currently offered service altogether.
            </li>
            <li>
                Investinit is not engaged in any kind of execution services - directly or indirectly. As a business, we DO NOT offer or
                are involved in any direct or indirect execution services. Our services are limited to providing research based trading
                recommendations.
            </li>
            <li>
                Investinit reserve the right to modify/ alter/ change the content of its website. Clients are advised to update
                themselves from time to time.
            </li>
            <li>
                Investments in securities are subject to market risks, which includes price fluctuation risk. There is no assurance or
                guarantee that the objectives of any of the products mentioned in this document or on this site will be achieved.
            </li>
            <li>
                As a business, we offer stock recommendations based on technical research ONLY to our subscribers. We have not
                authorised any organisation or firm to represent us and offer stock recommendations on our behalf.  
            </li>
            <li>
                As a business, we DO NOT offer or involved in any direct or indirect execution services. Our services are limited to
                providing research based trading signals.
            </li>
        </ol>
    </div>
</div>

{% endblock %}