{% extends 'accounts/base_login.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Password Reset Complete {% endblock %}
{% block content %}
<div class="wrapper">
    <div class="row">
        <div class="login-left col-lg-6">
            <div class="login-left-wrapper">
                <a href="{% url 'index' %}">
                    <img src="{% static 'images/login_logo.png' %}" alt="">
                </a>
            </div>
        </div>
        <div class="login-right col-lg-6">
            <div class="login-right-wrapper py-5">
                <center>
                    <h5>Password Reset Complete</h5>

                </center>
                <form method="POST">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} text-center">
                        <small>{{ message }}</small>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% csrf_token %}
                    <center>
                        <h6>Your password has been set. You may go ahead and log in now. </h6>
                        <a href="{% url 'login' %}" class="btn btn-outline-success linkBtn">LOG IN</a> <br>
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}