{% extends 'accounts/base_login.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Password Reset Done {% endblock %}
{% block content %}
<div class="wrapper">
    <div class="row">
        <div class="login-left col-lg-6">
            <div class="login-left-wrapper">
                <a href="{% url 'index' %}">
                    <img src="{% static 'images/login_logo.png' %}" alt="">
                </a>
            </div>
        </div>
        <div class="login-right col-lg-6">
            <div class="login-right-wrapper py-5">
                <center>
                    <h5>We’ve emailed you instructions for setting your password. </h5>
                </center>
                <form method="POST">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} text-center">
                        <small>{{ message }}</small>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% csrf_token %}
                    <center>
                        <h6 class="mt-4">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam
                        folder. </h6>
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}