{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Terms & Conditions {% endblock %}
{% block content %}

<div class="terms-wrapper p-5">

    <h2>Terms & Conditions</h2>

    <div class="terms-inner">
        <ol>
            <li>
                By visiting www.investinit.ml (the “Website”) and continuing to access the Website
                or use any service on the Website, you signify your acceptance and agreement to be bound by
                the terms and conditions of the Website. We reserve the right to remove or edit content of
                the Website, at any time, without notice to you. Kindly re-visit the terms of use whenever
                you access the Website or use any service on the Website in order to stay updated with
                any changes to the term of use.
            </li>
            <li>
                You confirm that you have read <a href="{% url 'disclosure' %}">disclosure.</a>
            </li>
            <li>
                These terms and conditions apply to users who are visitors as well as users who are subscribers to any paid plan, who
                access the Website for any purpose.
                
            </li>
            <li>
                You represent and confirm that you are competent to contract as per Indian law.
            </li>
            <li>
                Account/Subscription –
                <br>
                Invest In It provides access to the Services in the following manner:
                <ol type="a">
                    <li>
                        Free to browse information pertaining to the Services.
                    </li>
                    <li>
                        Free to use features in relation to the Services after logging in
                    </li>
                    <li>
                        Subscription to a paid plan for availing Services (paid user)
                        <br>
                        For the second and third manner of Services, as mentioned above, users will have to fill up an online registration form
                        after which InvestInIt shall establish an account for the user and send the account details in an email (or in any other
                        acceptable mode of communication) to the user as per the details provided by the user in the registration form. The
                        features of the various paid plans as well as an FAQ are mentioned on the InvestInIt Website.
                    </li>
                </ol>
            </li>
        </ol>
    </div>
</div>

{% endblock %}