{% extends 'accounts/base.html' %}
{% load static %}
{% block title %} Search Stocks {% endblock %}
{% block content %}

<div class="search-wrapper p-3 pt-4 pb-4">
    <div class="search-form-wrapper p-2">
         <!-- <form method="POST" class="form-inline">
            <div class="col-auto border-0">
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected disabled>TIME FRAME</option>
                    <optgroup label="HOURS">
                        <option value="day">1 HOUR</option>
                        <option value="week">2 HOURS</option>
                        <option value="month">3 HOURS</option>
                        <option value="month">4 HOURS</option>
                    </optgroup>
                    <optgroup label="DAYS">
                        <option value="day">1 DAY</option>
                        <option value="week">1 WEEK</option>
                        <option value="month">1 MONTH</option>
                    </optgroup>
                </select>
            </div>
            {% csrf_token %}
            <input type="text" name="ticker" placeholder="Enter a Ticker" class="form-control mb-3 mr-sm-2"
                aria-label="Search" required autofocus="true"> 
            <button type="submit" class="btn btn-outline-success my-5 my-sm-0">SEARCH</button>
        </form> -->
        {% if error %}
        <div class="alert alert-warning text-center">
            {{ error }}
        </div>
        {% endif %}
        {% for data in stock_data %}
        <div class="alert alert-success text-center">
            {{ data.status }}
        </div>

        <!-- Mobile View For Latest Stocks -->
        <div class="stock-list-wrapper-mobile">
            {% if data.symbol %}
             <div class="card">
                <div class="card-header d-flex align-items-center accoridon">
                    <h6> {{ data.symbol }} </h6>
                    <div class="mr-auto"></div>
                    <i class="fa fa-caret-down mr-3"></i>
                </div>
                <div class="panel">
                    <div class="card-body border">
                        <table class="table table-striped table-bordered text-center">
                            <tbody>
                                <tr>
                                    <th scope="row">Date </th>
                                    <td>{{ data.date }}</td>
                                </tr>
                                {% if data.call > data.stopLoss %}
                                <tr>
                                    <th scope="row">Buy Above</th>
                                    <td><strong class="text-success"> ₹ {{ data.call }} <i class="fas fa-arrow-up"></i> </strong> </strong></td>
                                </tr>                                
                                {% else %}
                                <tr>
                                    <th scope="row">Sell Below</th>
                                    <td><strong class="text-success"> ₹ {{ data.call }} <i class="fas fa-arrow-down"></i> </strong> </strong></td>
                                </tr>
                                {% endif %}
                                
                                <tr>
                                    <th scope="row">Stop Loss</th>
                                    <td><strong class="text-danger">₹ {{ data.stopLoss }}</strong></td>
                                </tr>
                                <tr>
                                    <th scope="row">Target 1</th>
                                    <td>₹ {{ data.Target1 }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Target 2</th>
                                    <td>₹ {{ data.Target2 }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Target 3</th>
                                    <td>₹ {{ data.Target3 }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Target 4</th>
                                    <td>₹ {{ data.Target4 }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">REPORT</th>
                                    <td><a href="{{ data.report.url }}" class="btn btn-outline-primary rounded">Download</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
        {% endif %}
        </div>
        <!-- Mobile View For Latest Stocks End -->

        {% if data.symbol %}
        <table class="table table-bordered text-center searched-table">
            <thead>
                <tr>
                    <th scope="col">SYMBOL</th>
                    <th scope="col">DATE</th>
                    {% if data.call > data.stopLoss %}
                    <th scope="col">BUY ABOVE</th>
                    {% else %}
                    <th scope="col">SELL BELOW</th>
                    {% endif %}
                    <th scope="col">STOP LOSS</th>
                    <th scope="col">TARGET 1</th>
                    <th scope="col">TARGET 2</th>
                    <th scope="col">TARGET 3</th>
                    <th scope="col">TARGET 4</th>
                    <th scope="col">REPORT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{ data.symbol }}</th>
                    <td>{{ data.date }}</td>
                    {% if data.call > data.stopLoss %}
                    <td> <strong class="text-success">{{ data.call }} <i class="fas fa-arrow-up"></i> </strong> </td>
                    {% else %}
                    <td> <strong class="text-success">{{ data.call }} <i class="fas fa-arrow-down"></i> </strong> </td>
                    {% endif %}
                    <td> <strong class="text-danger">{{ data.stopLoss }}</strong> </td>
                    <td> {{ data.Target1 }}</td>
                    <td> {{ data.Target2 }}</td>
                    <td> {{ data.Target3 }}</td>
                    <td> {{ data.Target4 }}</td>
                    <td> <a href="{{ data.report.url }}" class="btn btn-outline-primary rounded">Download</a> </td>
                </tr>
            </tbody>
        </table>
        {% endif %}

        <!-- <h5>Ye Testing Hai : {{ data.status }}</h5> -->

        <!-- <a href="{{ data.report.url }}"> Download </a> -->
        {% endfor %}
    </div>
</div>

{% endblock %}